
.normal {
}
.createBkg {
  margin: 0 -30px;
  background: #FAFAFA;
}
.createPaper {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}
.testBox {
  padding: 3px 0 3px 0;
  border: 1px solid #ddd;
}
.testTitle {
  padding-left: 10px;
  border-left: 2px solid #1A92FF;
  font-weight: bold;
}
.testNum {
  margin-left: 20px;
}

/*渲染试题*/
.questionItemHeader {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #FCFCFC;
  box-shadow: 0 1px 0 0 #EEEEEE;
}
.questionItemHeader .qitemTitle {
  font-size: 16px;
}
.questionItemHeader .qitemContent {
  display: inline-block;
  margin-left: 30px
}
.questionItemContent {
  padding: 24px 20px 30px;
}
.renderBox {
  margin-top: -24px;
}
.renderBoxHeader {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.renderBoxHeader > span {
   margin-right: 20px;
   cursor: pointer;
}
.renderBoxHeader > span:first-child {
  margin-right: 10px
}
.questionRepeatTips {
  display: block;
  margin: 15px 20px;
  color: #666;
}
.createPaperTipsIcon {
  vertical-align: middle;
  margin-top: -5px;
  font-size: 18px;
  color: #FF8C40;
  cursor: pointer;
}
.selectBtn {
  float: right;
  margin-right: 10px;
}
.saveBtn {
  display: inline-block;
  width: 140px;
  margin: 30px auto;
}
.saveAffirmModal {
  padding: 0 40px;
  text-align: center
}
.saveAffirmModal p {
  padding: 12px 0 10px;
  font-size: 16px;
}
.saveAffirmModal ul > li {
  margin-top: -1px;
  padding: 10px 0;
  border: 1px solid #DADADA;
}
.saveAffirmModal ul > li:first-child {
  background: rgba(242,243,246,0.50);
}
.saveAffirmModal ul > li > span{
  display: inline-block;
}

.pageTitle {
  text-align: center;
  padding-top: 38px;
  font-size: 18px;
}
.paperTypeItem{
  width: 360px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 26px;
  height: 150px;
  text-align: center;
  margin: 27px 15px;
  vertical-align: bottom;
  cursor: pointer;
}
.paperTypeItem.active{
  background-color:#F8FCFF;
  border-color: #1A92FF;
  cursor: default;
}
.itemTitle{
  font-size:16px;
}
.itemContent{
  color: #666;
  margin-top: 10px;
}
.submitBtn{
  margin:10px auto 40px;
  display: block;
  width:120px;
}
.paperRand{
  width:96%;
  margin:auto;
  border: 1px solid #dadada;
  border-bottom:none;
  margin-top: 20px;

}
.paperItemTitle{
  padding: 10px;
}
.paperResult{
  background-color:#f2f3f6;
  border: 1px solid #dadada;
  padding:16px;
  width: 96%;
  margin: 0 auto 20px;
  margin-top: -20px;
  border-top: none;
}
.filtrate{
  width: 96%;
  margin: auto;
}
.paperItem .itemContent:nth-child(2){
  background-color: #F8FAFC;
  padding: 10px 0 10px 10px;
}
.paperItem .itemContent{
  padding: 5px 0 5px 10px;
}
.colorSpan{
  color:#1A92FF;
}
.itemContent .inlineItem{
  vertical-align: baseline;
  margin: 0;
  display: inline-block;
}
.createPaperFooter {
  text-align: center;
  height: 100px;
}
.createPaperFooter .footerCont {
  padding: 20px 0;
  background: #F4F7FB;
  /* box-shadow: 0 0 4px 0 rgba(187,187,187,0.50); */
  border: 1px solid #ddd
}
.createPaperFooter .savePaperBtn,.createPaperFooter .savePaperBtn button {
  width: 120px;
  height: 36px;
  margin: 0 10px 0;
  font-size: 16px;
  font-weight: 200 !important;
}
.createPaperFooter .savePaperBtn button {
  margin: 0;
}
.footerCont .btnColorG, .footerCont .btnColorG button{
  color: #fff;
  background-color: #17d8bc;
  border-color: #17d8bc;
}
.footerCont .btnColorG[disabled], .footerCont .btnColorG button[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.bluePoint{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -3px;
  background: #1A92FF;
}
.btnAddQuestions, .btnAddQuestions:hover, .btnAddQuestions:active, .btnAddQuestions:focus {
  height: 30px;
  line-height: 28px;
  color: #1A92FF;
  background: #F1F8FF;
}
.btnAddQuestions:hover {
  opacity: .8
}
.createPaperBtn{
  display:block;
  width:100px;
  height:32px;
  line-height:32px;
  background: #1A92FF;
  color:#fff;
  border-radius: 2px;
  text-align: center;
  margin: 20px auto;
}
.createPaperBtn:hover{
  color:#fff;
  opacity: .8;
}
.customTableList {
  border: 1px solid #E5E5E5;
}
.customTableList .tableHeader {
  background: #FCFCFC;
  /* border: 1px solid #E5E5E5; */
}
.customTableList .tableCont {
  border-top: 1px solid #E5E5E5;
}
.customTableList .customCol {
  padding: 10px 0;
  text-align: center;
}
