.modalBody {
  padding: 20px;
}
.formLabel .formRow {
  line-height: 40px;
  margin-top: -1px;
  background: #F6FBFF;
  border: 1px solid #E5E5E5;
}
.formLabel .formRow .formCol, .formContent .formRow .formCol {
  border-left: 1px solid #E5E5E5;
  margin-left: -1px;
}
.formBody {
  margin-top: 10px;
}
.formContent .formRow {
  line-height: 44px;
  margin-top: -1px;
  border: 1px solid #E5E5E5;
  word-break: break-all;
}
.coursewareName {
  /*color: #1A92FF;*/
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.formItem {
  margin-bottom: 0 !important;
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;
}
.uploadingFile {
  position: relative;
  padding-top: 10px;
}
.uploadingFile .fileName {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}
.uploadingFile .deleteFile {
  position: absolute;
  right: 0;
  top: 0
}
.tipsList {
  margin-top: 15px;
}
.tipsList li {
  margin-top: 5px;
}
.tipsList li:before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -3px;
  background: #CCCCCC;
  border-radius: 50%;
}
.tipsIcon {
  color: #ffbf00;
  cursor: pointer;
}
