.detailInfo {
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    .title {
        font-size: 16px;
        margin-bottom: 5px;
        max-width: 74%;
    }
    .info{
        > span {
            margin-right: 15px;
        }
    } 
    .infoBtn {
        position: absolute;
        right: 20px;;
        top: 50%;
        margin-top: -10px;
    }
    pre{
      white-space: pre-wrap;
      word-wrap: break-word;
    }
}
.exportRow {
    float: right;
    text-align: right;
}
.filterCount {
    float: left;
    margin-left: 15px;
    line-height: 32px;
}

.tipsHomeWork{
  .link{
    color: #1A92FF;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
  }
}

.fixedPaperFooter{
  text-align: center;
  height: 100px;
  .footerCont {
    padding: 20px 0;
    background: #F4F7FB;
    /* box-shadow: 0 0 4px 0 rgba(187,187,187,0.50); */
    border: 1px solid #ddd;

    .savePaperBtn {
      width: 120px;
      height: 36px;
      margin: 8px 10px 0;
      font-size: 16px;
      font-weight: 200 !important;
    }
    .btnColorG{
      color: #fff;
      background-color: #17d8bc;
      border-color: #17d8bc;
    }
    .btnColorG[disabled] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f7f7f7;
      border-color: #d9d9d9;
    }
  }
  
}

.tabTypeValueSprite{
  margin-top: 10px;
}
.tabTypeCommentSprite{
  margin-top: 10px;
}
.tabTypeBtnSprite{
  text-align: right;
  margin-top: 10px;
}
.previewUrlpagination{
  margin-top: 200px;
  .link{
    cursor: pointer;
  }
}



/*
  学习详情
 */
.authorHeader{
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  .authorName{
    float: left;
    font-size: 22px;
    font-weight: bold;
    max-width: 150px;
    margin-right: 10px;
  }
  .courseName{
    padding-top: 8px;
  }
}
.authorHeader::after{
  content: '\20';
  display: block;
  clear: both;
  
}
.courseDetailCont {
  position: relative;
  left: 0;
  top: 0;
  margin-top: 16px;
  .title {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      .name {
          line-height: 24px;
          padding-left: 17px;
          font-size: 16px;
          border-left: 3px solid #1a92ff;
      }
      .explain, .summary {
          display: inline-block;
          padding-left: 10px;
          font-size: 14px;
          b {
              padding: 0 5px;
              font-size: 16px;
          }
      }

  }
  .resourceItemSprite{
      .resourceItemLink{
          display: block;
          height: 42px;
          line-height: 42px;
          border-bottom: 1px solid #eeeeee;
      }
  }
  .icoTitleBar{
    position: absolute;
    left: 0;
    top: 12px;
    height: 24px;
    border-left: 3px solid #1a92ff;
  }
  .explainTips{
    position: absolute;
    right: 10px;
    top: 12px;
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
    b {
        padding: 0 5px;
        font-size: 16px;
    }
  }
  .courseDetailMessageList{
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    .courseDetailMessageListContent{
      padding: 10px 15px;
    }
    .courseDetailMessageListToolBar{
      padding: 0px 15px 10px;
      color: #b4b3b3;
      .linkSprite{
        text-align: right;
        color: #0077E3;
        .message{
          display: inline-block;
          cursor: pointer;
        }
        .icoDelete{
          display: inline-block;
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
    .courseDetailMessageListSubmitBar{
      background-color: #D0E9FF;
      padding: 5px 15px;
      
      .inputText{
        display: block;
      }
      .btnSprite{
        text-align: right;
      }
    }
  }
}
.examPaper {
    max-height: 600px;
    padding: 6px 20px 0;
    overflow: auto;
    background: #fafafa;
}
.buttonRow {
    padding: 30px 0;
    text-align: center;
    > button {
        width: 160px;
        height: 40px;
    }
}

.msgItem {
  text-align: left;
}
.msgItem div {
  padding-bottom: 10px;
}
.msgItem div:first-child p {
  font-size: 16px;
  color: #333333;
  white-space: initial;
}
.msgItem div:nth-child(2) > span {
  font-size: 14px;
  color: #777777;
  padding-right: 13px;
}
.msgItem .operationBtn {
  float: right;
  position: relative;
}
.msgItem .operationBtn > span {
  font-size: 14px;
  color: #0077E3;
  padding-left: 26px;
  cursor: pointer;
}
.replyTextArea {
  padding: 10px 0;
}
.replyTextArea .content {
  width: 91%;
}
.replyTextArea .release, .replyTextArea .release:hover {
  float: right;
  width: 8%;
  height: 30px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background: #1A92FF;
  border: 1px solid #1A92FF;
  border-radius: 2px;
}
.replyContent {
  padding: 10px 13px;
  font-size: 14px;
  color: #333333;
  background: #F5F5F9;
  border: 1px solid #E5E5E5;
}
.replyContent p {
  white-space: initial;
}

.fileTplSprite{
  a{
    display: block;
  }
}

.homeworkContentText{
  padding-left: 20px;
  padding-right: 20px;
  .homeworkContentTitle{
    line-height: 180%;
    .tit{
      float: left;
    }
    .homeworkContentTitleTxt{
      margin-left: 50px;
      padding-top: 3px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dfdfdf;
    }
  }
  pre{
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .homeworkContentResourceList{
    margin-left: 50px;
    padding: 10px 0 20px;
    a{
      color: #1988cc;
      display: block;
    }
  }
}
