.pageTitle {
  text-align: center;
  padding-top: 38px;
  font-size: 18px;
}
.paperTypeItem{
  width: 360px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 26px;
  height: 150px;
  text-align: center;
  margin: 27px 15px;
  vertical-align: bottom;
  cursor: pointer;
}
.paperTypeItem.active{
  background-color:#F8FCFF;
  border-color: #1A92FF;
  cursor: default;
}