.checkboxIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    color: #39B1F4;
    font-size: 18px;
    line-height: 16px;
}
.checkbox{
    display: inline-block;
    width:16px;
    height:16px;
    margin-right:10px;
    vertical-align:middle;
    border: 1px solid #CCCCCC;
  }
  .circle{
    display: inline-block;
    width:16px;
    height:16px;
    border:1px solid #d8d8d8;
    border-radius: 100%;
    margin-right:10px;
    vertical-align:middle;
    position: relative;
  }
  .circleChecked{
    background: #39B1F4;
    border: 1px solid #39B1F4;
  }
  .inCircle{
    position: absolute;
    top: 3px;
    left: 3px;
    width:8px;
    height:8px;
    border-radius: 100%;
    text-align:center;
    background: #fff;
  }
  .questionItem{
    margin-left: 65px;
    line-height:30px;
  }
  .createPaperQuestionItem {
    height: 45px;
    margin-top: -1px;
    padding: 0 20px;
    overflow: hidden;
    background: rgba(242,243,246,0.50);
    border: 1px solid #DADADA;
    transition: height .5s;
  }
  .createPaperQuestionItem.repeatTips {
    background: #FEFBF2;
  }
  .createPaperQuestionItem .questionItemTitle {
    min-height: 45px;
    padding-top: 6px;
    position: relative;
    cursor: pointer;
  
  }
  .createPaperQuestionItem .questionItemType {
    width: 75px;
    float: left;
  }
  .createPaperQuestionItem .questionItemType > span {
    margin-left: 10px;
  }
  .createPaperQuestionItem .questionItemName {
    position: relative;
    margin-left: 75px;
    overflow: hidden;
  }
  .questionItemName > div {
    float: left;
    width: 95%;
    word-break: break-all;
  }
  .questionItemTitle .rightAnswers {
    margin-left: 18px
  }
  .createPaperQuestionItem .questionItem {
    margin-left: 85px;
  }
  .renderRepeatQList .questionTypeRepeat {
    width: 45px;
    margin-right: 5px;
    float: left;
  }
  .renderRepeatQList li {
    height: 20px;
    overflow: hidden;
    margin: 5px 0;
    cursor: pointer;
  }
  .renderRepeatQList li .title {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .questionTitle {
    margin-left: 10px;
    flex: 1;
    word-break: break-all;
  }

  .createPaperTipsIcon {
    vertical-align: middle;
    margin-top: -5px;
    font-size: 18px;
    color: #FF8C40;
    cursor: pointer;
  }
