.circle{
    display: inline-block;
    width:20xp;
    height:20px;

}
.circle,.circleCheck{
  display: inline-block;
  width:18px;
  height:18px;
  border:1px solid #d8d8d8;
  border-radius: 100%;
  margin-right:10px;
  vertical-align:middle;
  position:relative;
}
.squareCheck{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    color: #39B1F4;
    font-size: 18px;
    line-height: 16px;
     background: #fff;
}
.circleCheck{
    background: #39B1F4;
}
.circleChecked{
     position:absolute;
    width:8px;
    height:8px;
    border-radius:100%;
    top:4px;
    left:4px;
    background: #fff;
}
.square{
    display: inline-block;
     margin-right: 10px;
    width:18px;
    height:18px ;
    border:1px solid #d8d8d8;;
}

.correct > div {
  display: inline-block;
  margin-right: 14px;
}

.examItem {
  background: #ffffff;
  border: 1px solid #DADADA;
  margin-bottom: 10px;
  > .headerRow {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: rgba(242,243,246,0.50);
  }
  > .questionsList > li {
    border-top: 1px solid #DADADA;
    padding: 0 20px 10px;
    line-height: 30px;
    word-break: break-all;
  }
}
.examItemChild {
  margin: 0 -20px;
  padding: 5px 20px 0;
  border-top: 1px solid #DADADA;
  background-color: rgba(242, 243, 246, 0.5);
  > .questionsList > li {
    padding: 5px 0;
    line-height: 30px;
    word-break: break-all;
  }
}
