.statisticsCont {
    .statisticsContItem {
      padding: 16px 0;
      text-align: center;
      border-top-width: 5px;
      border-top-style: solid;
      opacity: 0.99;
      background: #FFFFFF;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
      border-radius: 4px;
      flex: 1;/* width: 100%; */
      .statisticsContItemComputed{
        i{
          padding-top: 3px;
          border-bottom: 1px solid #000000;
          display: block;
          width: 80%;
          margin: 0 auto;
        }
      }
    }
}