.normal{
    margin:0 30px;
}
.textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #dadada;
    vertical-align: top;
    line-height: 20px;
    padding-left: 5px;
    border-radius: 2px;
}
.form{
  background: #fff;
  margin:0;
  padding: 20px 0;
}
.commontable {
    border: 1px solid #e5e5e5;
    border-bottom: none;
}

.commontable table tr td, .commontable table tr th {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 10px 8px;
    color: #333;
}
.commontable table tr td:last-child, .commontable table tr th:last-child{
   border-right:none;
}
.commontable table tr:nth-of-type(even){
  background-color:#fafafa;
}
.commontable table tr th {
    background-color: #f6faff;
    color: #666;
    font-weight: normal;
}
.tagDiv{
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 2px;
  padding-left: 8px;
  color:#bbb;
  cursor: pointer;
}
.commontable table tr th:first-child>span{
  display: none;
}
.unitName>div:first-child{
  margin-bottom:0px;
}
.addbtn{
  float:right;
  background-color: #2cd47f;
  border-color: #2cd47f;
}
.addbtn:hover{
  background-color: #2cd47f;
  border-color: #2cd47f;
  opacity: 0.8;
}
.backbtn{
  border-bottom: 1px solid #eaeaea;
    height: 25px;
    line-height: 15px;
    padding-left: 10px;
}
.tabletitle{
  height:40px;
  line-height: 40px;
  color:#a5a5a5;
  font-size: 12px;
  border-bottom:1px dashed #eaeaea;
  margin-bottom:10px;
}
.containadd{
      width: 100%;
    border-left: none;
    border-right: none;
    font-size: 12px;
}
.ant-select-dropdown-menu{
  max-width:180px;
}
.questionAnItem{
  color:#fff;
  border: 1px solid #DADADA;
  border-radius: 2px;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  width:80px;
  height:30px;
  margin-right:10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.questionAnItem.active{
  background: #1A92FF;
  color:#fff;
  border: 1px solid #1A92FF;
}
.addOptionBtn{
  background: #FFFFFF;
  border: 1px solid #1A92FF;
  border-radius: 2px;
  width: 125px;
  height: 32px;
  font-size: 14px;
  color: #1A92FF;
  letter-spacing: 0;
}
.questionDiv{
  max-height: 400px;
  background: #fafafa;
  border:1px solid #eee;
  padding: 5px 20px;
  overflow-y: scroll;
  margin-top: 15px;
}
.addQuestionDiv{
  text-align: center;
  border:1px solid #eee;
  border-top:none;
  padding: 10px 0 10px;
}
.radioItem{
  float:left;
  text-align: center;
  width:100px;
  height:32px;
  line-height: 32px;
  border:1px solid #ccc;
  border-right:none;
  cursor:pointer;
}
.radioItem:last-child{
  border-right:1px solid #ccc;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.radioItem:first-child{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.radioItem.active{
  background:#1A92FF;
  color:#fff;
  border:1px solid #1A92FF;
}

.searchbarRows {
  padding: 0 20px 16px;
  line-height: 30px;
}
.searchResult {
  height: 40px;
  line-height: 40px;
}
.searchResult .randomNumberRow {
  float: right;
  /* font-size: 12px; */
}
/* .searchResult>span {
  color: #1A92FF;
} */
.chooseCoursewarePage {
  float: right;
}
.modalButtoRow {
  text-align: center;
  margin: 10px 0 30px;
  padding-bottom: 50px;
}
.modalFootRow {
  background: #FAFAFA;
  box-shadow: 0 -1px 0 0 #EEEEEE;
  line-height: 50px;
  text-align: center;
}
.buttonGreen, .buttonGreen:hover {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #2CD47F;
  color: #2CD47F;
  font-size: 12px;
  height: 24px;
  line-height: 20px;
}

.chooseResult {
  overflow: hidden;
  padding: 10px 0;
}
.readySelected > span {
  color: #1A92FF;
  cursor: pointer;
}
.courseFileSprite{
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #eeeeee;
}
.courseFileSprite::after{
  clear: both;
  content: '\20';
  display: block;
  height: 0;
}
.courseTitle {
  display: block;
  max-width: 260px;
}
.questionsInfo {
  width: 310px;
}
.infoTitle {
  overflow: hidden;
}
.infoTitle .testType {
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}
.infoContent p {
  margin-top: 10px;
}
.selectedList {
  width: 320px;
}
.selectedList ul {
  max-height: 190px;
  overflow-y: auto;
  padding: 8px 16px 8px 13px;
}
.selectedList div[class='ant-popover-inner-content'] {
  padding: 0 !important;
}
.selectedItem:first-child {
  margin-top: 0
}
.selectedItem {
  height: 20px;
  overflow: hidden;
  margin-top: 10px;
}
.selectedTitle {
  display: block;
  width: 92%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectedIcon {
  float: right;
  cursor: pointer;
}
.infoWrap {
  overflow-y: auto;
  max-height: 180px;
}

.uploadFileList{
  margin-top: 15px;
}
.createCourseContent {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(187,187,187,0.50);
  margin-bottom: 20px;
  padding-bottom: 1px;
}
.createCourseContentFileList{
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(187,187,187,0.50);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.createCourseContentFileList :global(.ant-form-item-label){
  display: none;
}
.createCourseContentFileList :global(.ant-form-explain){
  margin-left: 20px;
}
.createCourseTitle {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-bottom: 24px;
  background: rgba(241,245,249,0.29);
  box-shadow: 0 1px 0 0 #EEEEEE;
  font-size: 16px;
}

.createCourseText{
  padding: 0 20px 0px;
}
.createCourseBtnSprite{
  text-align: center;
}

.createPaperFooter {
  text-align: center;
  height: 100px;
}
.createPaperFooter .footerCont {
  padding: 20px 0;
  background: #F4F7FB;
  /* box-shadow: 0 0 4px 0 rgba(187,187,187,0.50); */
  border: 1px solid #ddd
}
.createPaperFooter .savePaperBtn {
  width: 120px;
  height: 36px;
  margin: 8px 10px 0;
  font-size: 16px;
  font-weight: 200 !important;
}
.createPaperFooter :global(.ant-form-item){
  margin-bottom: 0;
}
.footerCont .btnColorG{
  color: #fff;
  background-color: #17d8bc;
  border-color: #17d8bc;
}
.footerCont .btnColorG[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}


/* 随堂测试 添加试题样式 开始 */
.examPaperSwitch{
  display: inline-block;
  margin-left: 10px;
}
.questionItemHeader {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #FCFCFC;
  box-shadow: 0 1px 0 0 #EEEEEE;
}
.questionItemHeader .qitemTitle {
  font-size: 16px;
}
.questionItemHeader .qitemContent {
  display: inline-block;
  margin-left: 30px
}
.questionItemContent {
  padding: 24px 20px 30px;
}
.renderBox {
  margin-top: -24px;
}
.renderBoxHeader {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.renderBoxHeader > span {
   margin-right: 20px;
   cursor: pointer;
}
.renderBoxHeader > span:first-child {
  margin-right: 10px
}
.questionRepeatTips {
  display: block;
  margin: 15px 20px;
  color: #666;
}
.createPaperTipsIcon {
  vertical-align: middle;
  margin-top: -5px;
  font-size: 18px;
  color: #FF8C40;
  cursor: pointer;
}
.selectBtn {
  float: right;
  margin-right: 10px;
}
.saveBtn {
  display: inline-block;
  width: 140px;
  margin: 30px auto;
}
.saveAffirmModal {
  padding: 0 40px;
  text-align: center
}
.saveAffirmModal p {
  padding: 12px 0 10px;
  font-size: 16px;
}
.saveAffirmModal ul > li {
  margin-top: -1px;
  padding: 10px 0;
  border: 1px solid #DADADA;
}
.saveAffirmModal ul > li:first-child {
  background: rgba(242,243,246,0.50);
}
.saveAffirmModal ul > li > span{
  display: inline-block;
}

.icoRequired:before {
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f04134;
}
/* 随堂测试 添加试题样式 结束 */



.tipsNew{
    position: absolute;
    top: 8px;
    background: #FC5E5E;
    border-radius: 10px;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    padding: 0 3px;
    display: inline-block;
    height: 15px;
    line-height: 13px;
    font-weight: 100;
}

.paperTableSprite :global(.ant-table){
  overflow: visible;
}

