.courseSuccessSprite{
  text-align: center;
  padding-bottom: 40px;
}
.courseSuccessHeader{
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}
.courseSuccessMsg{
  color: #000000;
  margin-bottom: 5px;
}
.courseSuccessInsertQuestion{
  color: #878787;
}
.courseSubmitBtn{
  width: 120px;
  height: 36px;
  margin: 40px 10px 0;
  font-size: 16px;
  font-weight: 200;
}
.courseInsertPaperBtn{
  padding: 0 15px;
  height: 36px;
  margin: 40px 10px 0;
  font-size: 16px;
  font-weight: 200;
}
.btnColorG{
  color: #fff;
  background-color: #17d8bc;
  border-color: #17d8bc;
}
