.normal{
    margin:0 30px;
}
.textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #dadada;
    vertical-align: top;
    line-height: 20px;
    padding-left: 5px;
    border-radius: 2px;
}
.form{
  background: #fff;
  margin:0;
  padding: 20px 0;
}
.commontable {
    /* border: 1px solid #e5e5e5; */
  border-bottom: none;
  :global{
    .ant-table table, .ant-table{
      overflow: visible;
    }
  }
}

.commontable table tr td, .commontable table tr th {
    /* border-bottom: 1px solid #e5e5e5; */
    /* border-right: 1px solid #e5e5e5; */
    padding: 10px 8px;
    color: #333;
}
.commontable table tr td:last-child, .commontable table tr th:last-child{
   border-right:none;
}
.commontable table tr:nth-of-type(even){
  background-color:#fafafa;
}
.commontable table tr th {
    background-color: #f6faff;
    color: #666;
    font-weight: normal;
}
.commontableMinPadding table tr td{
  padding-left: 4px!important;
  padding-right: 4px!important;
}
.tagDiv{
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 2px;
  padding-left: 8px;
  padding-bottom: 3px;
  color:#bbb;
  cursor: pointer;
  .tit{
    color: #999999;
    font-size: 10px;
    font-style: normal;
    display: inline-block;
    margin-left: 5px;
  }
  :global{
    .ant-input-number-lg{
      margin-left: 3px;
      height: 22px;
    }
    .ant-input-number-lg input{
      height: 20px;
    }
  }
}
.lecturerCreditTag{
  line-height: inherit;
  height: inherit;
  margin-top: 3px;
  .lecturerCreditInputSprite{
    display: inline-block;
    margin-bottom: 0;
  }
}
.commontable table tr th:first-child>span{
  display: none;
}
.unitName>div:first-child{
  margin-bottom:0px;
}
.addbtn{
  float:right;
  background-color: #2cd47f;
  border-color: #2cd47f;
}
.addbtn:hover{
  background-color: #2cd47f;
  border-color: #2cd47f;
  opacity: 0.8;
}
.backbtn{
  border-bottom: 1px solid #eaeaea;
    height: 25px;
    line-height: 15px;
    padding-left: 10px;
}
.tabletitle{
  height:40px;
  line-height: 40px;
  color:#a5a5a5;
  font-size: 12px;
  border-bottom:1px dashed #eaeaea;
  margin-bottom:10px;
}
.containadd{
      width: 100%;
    border-left: none;
    border-right: none;
    font-size: 12px;
}
.ant-select-dropdown-menu{
  max-width:180px;
}
.questionAnItem{
  color:#fff;
  border: 1px solid #DADADA;
  border-radius: 2px;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  width:80px;
  height:30px;
  margin-right:10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.questionAnItem.active{
  background: #1A92FF;
  color:#fff;
  border: 1px solid #1A92FF;
}
.addOptionBtn{
  background: #FFFFFF;
  border: 1px solid #1A92FF;
  border-radius: 2px;
  width: 125px;
  height: 32px;
  font-size: 14px;
  color: #1A92FF;
  letter-spacing: 0;
}
.questionDiv{
  max-height: 400px;
  background: #fafafa;
  border:1px solid #eee;
  padding: 5px 20px;
  overflow-y: scroll;
  margin-top: 15px;
}
.addQuestionDiv{
  text-align: center;
  border:1px solid #eee;
  border-top:none;
  padding: 10px 0 10px;
}
.radioItem{
  float:left;
  text-align: center;
  width:100px;
  height:32px;
  line-height: 32px;
  border:1px solid #ccc;
  border-right:none;
  cursor:pointer;
}
.radioItem:last-child{
  border-right:1px solid #ccc;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.radioItem:first-child{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.radioItem.active{
  background:#1A92FF;
  color:#fff;
  border:1px solid #1A92FF;
}

.searchbarRows {
  padding: 0 20px 16px;
  line-height: 30px;
}
· {
  height: 40px;
  line-height: 40px;
}
.searchResult .randomNumberRow {
  float: right;
  /* font-size: 12px; */
}

/* .searchResult>span {
  color: #1A92FF;
} */
.chooseCoursewarePage {
  float: right;
}
.modalButtoRow {
  text-align: center;
  margin: 10px 0 30px;
  padding-bottom: 50px;
}
.modalFootRow {
  background: #FAFAFA;
  box-shadow: 0 -1px 0 0 #EEEEEE;
  line-height: 50px;
  text-align: center;
}
.buttonGreen, .buttonGreen:hover {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #2CD47F;
  color: #2CD47F;
  font-size: 12px;
  height: 24px;
  line-height: 20px;
}

.chooseResult {
  overflow: hidden;
  padding: 10px 0;
}
.readySelected > span {
  color: #1A92FF;
  cursor: pointer;
}
.courseFileSprite{
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #eeeeee;
}
.courseFileSprite::after{
  clear: both;
  content: '\20';
  display: block;
  height: 0;
}
.courseTitle {
  display: block;
  max-width: 260px;
}
.questionsInfo {
  width: 310px;
}
.infoTitle {
  overflow: hidden;
}
.infoTitle .testType {
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}
.infoContent p {
  margin-top: 10px;
}
.selectedList {
  width: 320px;
}
.selectedList ul {
  max-height: 190px;
  overflow-y: auto;
  padding: 8px 16px 8px 13px;
}
.selectedList div[class='ant-popover-inner-content'] {
  padding: 0 !important;
}
.selectedItem:first-child {
  margin-top: 0
}
.selectedItem {
  height: 20px;
  overflow: hidden;
  margin-top: 10px;
}
.selectedTitle {
  display: block;
  width: 92%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectedIcon {
  float: right;
  cursor: pointer;
}
.infoWrap {
  overflow-y: auto;
  max-height: 180px;
}


.createPaperFooter {
  text-align: center;
  height: 100px;
}
.createPaperFooter .footerCont {
  padding: 20px 0;
  background: #F4F7FB;
  /* box-shadow: 0 0 4px 0 rgba(187,187,187,0.50); */
  border: 1px solid #ddd
}
.createPaperFooter .savePaperBtn {
  width: 120px;
  height: 36px;
  margin: 8px 10px 0;
  font-size: 16px;
  font-weight: 200 !important;
}
.createPaperFooter :global(.ant-form-item){
  margin-bottom: 0;
}
.footerCont .btnColorG{
  color: #fff;
  background-color: #17d8bc;
  border-color: #17d8bc;
}
.footerCont .btnColorG[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}

/* 基本信息 */
.createCourseContent {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(187,187,187,0.50);
  margin-bottom: 20px;
  padding-bottom: 1px;
}
.createCourseTitle {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-bottom: 24px;
  background: rgba(241,245,249,0.29);
  box-shadow: 0 1px 0 0 #EEEEEE;
  font-size: 16px;
}

.formItemLabel{
  text-align: right;
  color: rgba(0, 0, 0, 0.85);
  padding-right: 0;
  padding-top: 4px;
}
.formItemLabel.required::before{
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f04134;
}

.courseClassificationSprite{
  position: relative;
  left: 0;
  top: 0;
}

.courseClassificationTips{
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  left: 245px;
  top: 4px;
}

.commontable :global(.ant-select-dropdown) {
  min-width: 126px;
  width: auto!important;
}
