
.normal {
  /*border-color: #d9d9d9;
  border-style: solid;
  border-width:  0 1px 1px;
  margin-top: -16px;
  padding: 16px 20px 0;*/
  padding: 0 30px;
}
.searchbarRows {
  padding: 0 0 16px;
  overflow: hidden
}
.searchResult {
  margin-left: 10px;
}
.searchResult span {
  color: #1A92FF;
  margin: 0 5px;
  font-weight: bold;
}

.modalPadding {
  padding: 20px;
}
.formItem {
  display: inline-block;
  margin-right: 30px;
}
.formContent {
  display: inline-block !important;
}
.formTitle {
  color: #999;
  line-height: 30px;
  margin-right: 10px;
}
.fileBox {
  width: 45%;
  margin: 0 auto;
}
.fileContent {
  min-height: 200px;
  border: 1px solid #EEEEEE;
}
.fileBox a {
  display: block;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.fileBox video {
  display: block;
  width: 100%;
  height: 200px;
}
.buttonGreen, .buttonGreen:hover {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #2CD47F;
  color: #2CD47F;
}
.editModalButtonRow {
  text-align: center;
  margin-top: 10px;
}
.transcodingBox {
  height: 200px;
  text-align: center;
  line-height: 200px;
  background-color: rgba(0, 0, 0, .5);
  color: #ffffff;
}
