.filtrate .filtrateItem {
  min-height: 40px;
  margin-top: -1px;
  position: relative;
  border: 1px solid #DDDDDD;
  background: url('../images/filtrate-bg.png') repeat-y #fff;
}
.filtrateTitle {
  display: block;
  float: left;
  width: 90px;
  padding-right: 10px;
  line-height: 40px;
  text-align: right;
  color: #a5a5a5;
}
.filtrateBody {
  margin-left: 90px;
  border-left: 1px solid #DDDDDD;
  position: relative;
}
.filtrateOptions {
  width: 93%;
  height: 40px;
  overflow: hidden;
  padding-left: 20px;
}
.filtrateContent .filtrateItemOption {
  display: inline-block;
  padding: 2px 10px 3px;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  margin: 7px 5px 0 0;
  position: relative;
}
.filtrateContent .filtrateItemOption:hover {
  color: #1A92FF;
}
.filtrateContent .filtrateItemOption.active {
  background: #1A92FF;
  color: #fff !important;
}
.filtrateAction {
  position: absolute;
  right: 10px;
  top: 0;
  user-select: none;  /*禁止双击选中*/
}
.filtrateAction span {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  color: #1A92FF;
}
.subFiltrate {
  max-height: 115px;
  padding: 5px 0 10px 20px;
  overflow: auto;
  background: #f3f7fc;
  border-top: 1px solid #d8e6f5;
}
.moreFiltrate {
  margin-top: -1px;
  border: 1px solid #DDDDDD;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #1A92FF;
  user-select: none;  /*禁止双击选中*/
}
.tipsNew{
  position: absolute;
  top: 8px;
  background: #FC5E5E;
  border-radius: 10px;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  padding: 0 3px;
  display: inline-block;
  height: 15px;
  line-height: 13px;
  font-weight: 100;
}

/*支付*/
.questionsChargeType {
  position: absolute;
  right: 70px;
  top: 9px;
  user-select: none;
}
.questionsChargeType span {
  margin-left: 10px;
}
.questionsChargeType span i {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 5px;
}
.questionsChargeType span:nth-child(1) i {
  background: #2DD17E
}
.questionsChargeType span:nth-child(2) i {
  background: #F0493D
}
.cBuyTitle {
  font-size: 16px;
  color: #333333;
}
.cBuyPrice {
  font-size: 20px;
  color: #FF9502;
  margin: 10px 0 10px;
}
.cBuyTypeTitle {
  font-size: 16px;
  color: #A5A5A5;
  border-top: 1px solid #E5E5E5;
  padding: 20px 0 10px;
}
.cBuyListItem {
  width: 190px;
  height: 80px;
  padding: 22px 20px 0;
  border: 1px solid #DDDDDD;
}
.cBuyItemTitle {
  display: inline-block;
  font-size: 16px;
  color: #333;
  /*vertical-align: top;*/
  margin-top: 6px;
}
.cInline {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.cBuyBalanceTitle {
  display: block;
  margin-top: -4px;
}
.cBuyBalancePrice {
  display: block;
  font-size: 14px;
  color: #A5A5A5;
}
.cBuyBtnGroup {
  margin: 20px 0 30px;
  text-align: right;
  padding-right: 18px;
}
.cBuyBtnGroup button {
  margin-left: 20px;
}
.cHidePayPopover {
  display: none;
  transition: 2s;
}
.cShowPayPopover {
  display: block;
  transition: 5s;
}

/*二维码*/
.cPayCodeColums {
  width: 230px;
  margin: 16px auto;
}
.cPayCodeColums p {
  font-size: 16px;
  text-align: center;
}
.cPayCodeColums .codeOrder {
  margin-top: 10px;
  color: #A5A5A5;
}
.cBuyCodeModalFooter button{
  width: 100%;
  font-size: 18px;
  /*background: #1A92FF;
  color: #fff;*/
  /*text-align: center;*/
  height: 80px;
  line-height: 80px;
  border-radius: 0;
  /*cursor: pointer;*/
}
/*支付结果*/
.payStatusIcon {
  float: left;
}
.payStatusIcon i {
  font-size: 40px;
}
.payStatusInfo {
  margin-left: 65px
}
.cPayStatusBox p {
  margin-top: 10px
}
.cPayStatusBoxTips, .cPayStatusBox p label {
  color: #A5A5A5;
}
.payStatusFooter {
  margin-top: 16px;
}
.payStatusFooter button {
  margin-right: 20px;
}

