.ruleDetail {
  padding: 15px 20px 20px;
}
.ruleDetail li {
  margin: 8px 0;
  display: flex
}
.ruleDetail span {
  color: #151515;
}
.ruleDetail span:last-child{
  flex: 1
}
.ruleDetail .rdLabel {
  width: 130px;
  display: inline-block;
  text-align: right;
  color: #666666
}
