.selectMultiple {
  background: #fff;
}
.treeContent {
  padding: 0 0 0 15px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.selectOptions {
  /*border: 1px solid #d9d9d9*/
  border-radius: 2px;
}
.optionsSearch {
  padding: 5px 10px;
  width: '100%'
}
.optionsSearch input {
  font-size: 12px;
}
.treeFooter {
  padding: 5px 10px;
  border-top: 1px solid #d9d9d9;
  overflow: hidden
}
.multipleSelect {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  /*vertical-align: top;*/
  /* margin-bottom: 10px; */
}
.multipleSelectSm .multipleSelectSelection {
  height: 22px
}
.multipleSelectLg .multipleSelectSelection {
  height: 32px
}
.multipleSelectSelection {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 28px;
  position: relative;
  cursor: pointer;
}
.multipleSelectSelectionRendered {
  display: block;
  /* margin-left: 7px;
  margin-right: 7px; */
  position: relative;
  line-height: 26px;
  padding: 0 7px;
}
.multipleSelectSm .multipleSelectSelectionRendered {
  line-height: 28px
}
.multipleSelectLg .multipleSelectSelectionRendered {
  line-height: 30px;
}
.multipleSelectValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 14px;
  float: left;
}
.multipleSelectSelectionRendered:after {
  content: '.';
  visibility: hidden;
  pointer-events: none;
  display: inline-block;
  width: 0;
}
.selectArrow {
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -6px;
  display: inline-block;
  font-size: 14px;
  transform: scale(0.75) rotate(0deg);
}
.multipleSelectOpen .multipleSelectSelection {
  border-color: #1A92FF;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(38, 181, 247, 0.2);
}
.selectArrow:before {
  transition: transform 0.2s ease;
}
.multipleSelectOpen .selectArrow:before {
    transform: rotate(180deg);
}
.selectOptions label {
  display: block;
  margin: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.noDataSource {
  display: block;
  margin: 10px 0 15px;
  color: #A5A5A5;
}
.multipleSelectDisabled .multipleSelectSelection {
  background: #f7f7f7;
  cursor: not-allowed;
  color: #ccc;
}

:global{
  .select-multiple-large{
    display: inline-block;
  }
}
